{{> header}}
<main>
    <h1>Destination Search 🔍</h1>
    <p>Enjoy this inspirational quote: "{{oneQuote}}"</p>
    <p>Search one of the following locations to learn about the top 10 travel desinations in the U.S.</p>
    <div class="list">
      <ul class="city-list">
          <li>New York City</li>
          <li>Honolulu</li>
          <li>Los Angeles</li>
          <li>Seattle</li>
          <li>San Francisco</li>
          <li>Las Vegas</li>
          <li>Nashville</li>
          <li>Miami</li>
          <li>Portland</li>
          <li>New Orleans</li>
      </ul>
    </div>
    <form action="/search" method="GET">
      <input class="search-form"  type="text" name="city" placeholder="Enter city name">
      <button class="search-button" type="submit">Search!</button>
    </form>
  <h2>Search Results</h2>
  {{#if query}}
    {{#if cities.length}}
       <div class="search-div">
      {{#each cities}}
        <div class="info-item">
          <h3 class="info-name">{{this.name}}</h3>
          <p>{{this.state}}</p>
          <div class="info-left">
          <p>{{this.description}}</p>
          <p class="info-tip">{{this.tip}}</p>
          </div>
        </div>
      {{/each}}
    </div>
    {{else}}
      <p>No cities found. Please enter one of the cities from the list above.</p>
    {{/if}}
  {{else}}
    <p>Enter city name to search!</p>
  {{/if}}
  </main>