{{> header}}
<main>
    <h1>Destination Search 🔍</h1>
    <p>Search one of the following locations to learn about the top 10 travel desinations in the U.S.</p>
    <div class="list">
      <ul class="city-list">
          <li>New York City</li>
          <li>Honolulu</li>
          <li>Los Angeles</li>
          <li>Seattle</li>
          <li>San Francisco</li>
          <li>Las Vegas</li>
          <li>Nashville</li>
          <li>Miami</li>
          <li>Portland</li>
          <li>New Orleans</li>
      </ul>
    </div>
    <form action="/search" method="GET">
      <input class="search-form"  type="text" name="city" placeholder="Enter city name">
      <button class="search-button" type="submit">Search!</button>
    </form>
    <h2>Search Results</h2>
    <div class="results-div">
      <div class="city-info">
    {{#if query}}
      {{#if cities.length}}
        <div class="search-div">
      {{#each cities}}
        <div class="info-item">
          <div class="city-state">
            <h3 class="info-name">{{this.name}}</h3>
            <p>{{this.state}}</p>
          </div>
          <div class="info-left">
            <p>{{this.description}}</p>
            <div class="list-attractions">
            <ul>
              <div class="center-list">
              <li>{{this.attraction1}}</li>
              <li>{{this.attraction2}}</li>
              <li>{{this.attraction3}}</li>
              <li>{{this.attraction4}}</li>
              <li>{{this.attraction5}}</li>
              </div>
            </ul>
          </div>
            <p class="info-tip">Tip! {{this.tip}}</p>
          </div>
        </div>
        </div>
      <form action="/favorites" method="GET"
      //Will change the action, needs to be POST not GET and different action
      //Just wanted a functioning button for now>
        <input type="hidden">
        <button data-id="{{this._id}}" 
                data-name="{{this.name}}" 
                data-state="{{this.state}}"
                data-description="{{this.description}}"
                data-attractions="{{this.attraction1}}","{{this.attraction2}}","{{this.attraction3}}","{{this.attraction4}}","{{this.attraction5}}"
                data-tip="{{this.tip}}"
                class="favorites-button"
                >Add to Favorites
        </button>
      </form>
    {{/each}}
    {{else}}
    <p class="other-search">No cities found. Please enter one of the cities from the list above.</p>
    {{/if}}
    {{else}}
    <p class="other-search">Enter city name to search!</p>
    {{/if}}
      </div>
    <div class="weather-info">
      {{#if weather}}
        <h3 class="info-name">Weather</h3>
        <img src="https://openweathermap.org/img/wn/{{weather.weather.[0].icon}}@2x.png" alt="Weather Icon">
        <p>{{weather.weather.[0].main}}</p>
        <p>There is {{weather.clouds.all}}% cloud coverage</p>
        <h3>Temperature</h3>
        <div class="temp-div">
          <p>Currently, it is {{weather.main.temp}} °F</p>
          <p>It feels like {{weather.main.feels_like}} °F</p>
          <p>There is a high of {{weather.main.temp_max}} °F</p>
          <p>There is a low of {{weather.main.temp_min}} °F</p>
        </div>
      {{/if}}
      </div>
    </div>
</main>

<script>
  //Making sure I target the right page
  console.log("hello")
  //Function for explore button on click
  document.querySelectorAll(".favorites-button").forEach(btn => {
    btn.onclick = function(e) {
    console.log(e.target)
    //Getting all the city info
    const cityInfo = {
    id: e.target.dataset.id,
    name: e.target.dataset.name,
    state: e.target.dataset.state,
    description: e.target.dataset.description,
    attractions: e.target.dataset.attractions.split(","),
    tip: e.target.dataset.tip
    };
    //Console log to check
    console.log(cityInfo)
    //Stuck on the rest of this
    //Need a route to post the data to the user's list
    //It should update the users list 
     //const response = await fetch(`/...`)
    }
  })
</script>
